$header_color: #e9b776;
$red_todo: #D46C74;
$red_todo_transparent: #d46c75a3;
$yellow_progress: #edc591;
$yellow_progress_transparent: #edc591a2;
$blue_done: #6C87DD;
$blue_done_transparent:#6c86dd8d;
$green_task: #357982;
$font_color: #283344;
$secondary_font_color: #3e4f69;
$background_color: #FEF9ED;