@charset "UTF-8";
@import '/assets/css/reset.css';
@import '/assets/css/reset.css';
@import '/assets/css/reset.css';
body {
  background-color: #FEF9ED;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
body header {
  background-color: #e9b776;
  padding-left: 15px;
  border-radius: 50px;
}
body header .buttonBack {
  margin: 40px 0 40px 0;
}
body header h1 {
  margin: 0px 0 30px 0;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #2c3138;
}
body header #title {
  background-color: #e9b776;
  border: 0;
  border-bottom: 1px solid #cda169;
  width: 90%;
}
body header #date {
  background-color: #e9b776;
  border: 0;
  border-bottom: 1px solid #cda169;
  width: 90%;
}
body header input:nth-child(6) {
  margin-bottom: 40px;
}
body main {
  padding-left: 15px;
  padding-right: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas: "startTimeText endTimeText" "startTimeInput endTimeInput" "descritionText descritionText" "descritionInput descritionInput" "descritionInput descritionInput" "descritionInput descritionInput" "urgentText urgentInput";
}
body main .startTime {
  grid-area: startTimeText;
}
body main .endTime {
  grid-area: endTimeText;
}
body main .description {
  grid-area: descritionText;
}
body main #startTime {
  grid-area: startTimeInput;
  background-color: #FEF9ED;
  border: 0;
  width: 90%;
}
body main #endTime {
  grid-area: endTimeInput;
  background-color: #FEF9ED;
  border: 0;
}
body main #description {
  grid-area: descritionInput;
  background-color: #FEF9ED;
  border: 0;
}
body main .urgent {
  grid-area: urgentText;
}
body main #urgent {
  margin-top: 10px;
  grid-area: urgentInput;
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
}
body footer {
  padding: 20px 15px 0 15px;
}
body footer #createTask {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: rgb(9, 106, 242);
  border-radius: 50px;
  color: white;
}
body #createTask:hover {
  cursor: pointer;
}

.h5 {
  color: grey;
  margin-top: 10px;
  margin-bottom: 2px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vh;
  height: 30vh;
  border-radius: 40px;
  background-color: #e9b776;
  color: #2c3138;
}
header .first__title {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  font-weight: 200;
  width: 80%;
  text-align: center;
  margin-top: 0.6rem;
}
@media only screen and (max-width: 420px) {
  header .first__title {
    font-size: 1.7rem;
  }
}
header .currentDay {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 3px;
  font-weight: 400;
  padding-bottom: 1rem;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 2rem;
  width: 80%;
}
.profile__picture__border {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 8rem;
  border-radius: 4rem;
  border: 0.4rem solid #D46C74;
  border-top-color: transparent;
  transform: rotate(-45deg);
  position: relative;
}
@media only screen and (max-width: 380px) {
  .profile__picture__border {
    width: 10rem;
  }
}
.profile__picture {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: rotate(45deg);
}
.profile__identity {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  letter-spacing: 1px;
}
.profile__identity__name {
  font-size: 1.4rem;
  font-weight: 700;
}
.profile__identity__function {
  color: #3f444c;
  font-size: 1.3rem;
  font-weight: lighter;
}

.nav__tasks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.3rem;
  height: 7rem;
}
.nav__tasks .tasks, .nav__tasks .tasks__filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav__tasks .tasks__addBtn {
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  background-color: #357982;
  border: none;
  cursor: pointer;
}
.nav__tasks .tasks__addBtn:hover {
  background-color: #296c75;
}
.nav__tasks .tasks__addBtn img {
  width: 1.7rem;
  height: 1.7rem;
  align-self: center;
  justify-self: center;
  padding: 0.1rem;
}
.nav__tasks .tasks__filter {
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 1px;
  cursor: pointer;
}
@media only screen and (max-width: 360px) {
  .nav__tasks .tasks__filter {
    font-size: 1.1rem;
  }
}
@media only screen and (min-width: 600px) {
  .nav__tasks .tasks__filter {
    width: 60%;
    align-self: center;
  }
}
.nav__tasks .tasks__filter .filter {
  border-radius: 20px;
  height: 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  margin-top: 0.3rem;
  padding-top: 0.3rem;
}
.nav__tasks .tasks__filter .filter__all:hover {
  font-weight: bold;
}
.nav__tasks .tasks__filter .filter__todo {
  background-color: rgba(212, 108, 117, 0.4823529412);
  width: 5rem;
}
@media only screen and (max-width: 360px) {
  .nav__tasks .tasks__filter .filter__todo {
    width: 4rem;
  }
}
.nav__tasks .tasks__filter .filter__todo:hover {
  color: #FEF9ED;
  background-color: #D46C74;
  font-weight: bolder;
}
.nav__tasks .tasks__filter .filter__progress {
  width: 9rem;
  background-color: rgba(237, 197, 145, 0.5215686275);
}
@media only screen and (max-width: 360px) {
  .nav__tasks .tasks__filter .filter__progress {
    width: 8rem;
  }
}
.nav__tasks .tasks__filter .filter__progress:hover {
  color: #FEF9ED;
  background-color: #e8b471;
  font-weight: bolder;
}
.nav__tasks .tasks__filter .filter__done {
  width: 5rem;
  background-color: rgba(108, 134, 221, 0.5254901961);
}
@media only screen and (max-width: 360px) {
  .nav__tasks .tasks__filter .filter__done {
    width: 4rem;
  }
}
.nav__tasks .tasks__filter .filter__done:hover {
  color: #FEF9ED;
  background-color: #6C87DD;
  font-weight: bolder;
}

.task__cards h3 {
  font-weight: 700;
}

.task__card {
  cursor: pointer;
  width: 85%;
  margin: 1.7rem;
}
.task__card__closed {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
}
.task__card__important {
  height: 3rem;
  justify-self: right;
}
.task__card__presentation {
  line-height: 1.2rem;
}
.task__card__presentation__daysLeft {
  font-size: small;
}

.task__card__icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #D46C74;
  height: 3rem;
  width: 3rem;
  border-radius: 1.5rem;
}
.task__card__icon img {
  height: 1.4rem;
}

.progress .task__card__icon {
  background-color: #e8b471;
}

.done .task__card__icon {
  background-color: #6C87DD;
}

.task__card__opened {
  visibility: collapse;
}

.card__todo__opened .task__card__opened {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  border-top: double 6px #D46C74;
  border-bottom: solid 6px #D46C74;
}
.card__todo__opened .task__card__header {
  height: 4rem;
  color: #D46C74;
  background-color: rgba(212, 108, 117, 0.4823529412);
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  gap: 1rem;
}
.card__todo__opened .task__card__header__title {
  color: #2c3138;
  font-size: large;
}
.card__todo__opened .task__card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
.card__todo__opened .task__card__content__title {
  font-size: larger;
}
.card__todo__opened .task__card__content__description {
  text-align: justify;
}
.card__todo__opened .task__card__content__startEnd {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 600;
}
.card__todo__opened .task__card__content__deadline {
  text-transform: uppercase;
  color: #D46C74;
}
.card__todo__opened .task__card__content__deadline .daysLeftUntil {
  font-weight: 600;
}
.card__todo__opened .task__card__content__progress {
  width: 80%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card__todo__opened .task__card__content__progress input {
  display: none;
}
.card__todo__opened .task__card__content__progress input + label:before {
  content: "✓";
  border: solid #D46C74 3px;
  border-radius: 0.3rem;
  vertical-align: bottom;
  color: transparent;
}
.card__todo__opened .task__card__content__progress input:checked + label:before {
  background-color: #D46C74;
  color: #FEF9ED;
  transition: 0.2s;
}

.card__progress__opened .task__card__opened {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  border-top: double 6px #e8b471;
  border-bottom: solid 6px #e8b471;
}
.card__progress__opened .task__card__header {
  height: 4rem;
  color: #e8b471;
  background-color: rgba(237, 197, 145, 0.5215686275);
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  gap: 1rem;
}
.card__progress__opened .task__card__header__title {
  color: #2c3138;
  font-size: large;
}
.card__progress__opened .task__card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
.card__progress__opened .task__card__content__title {
  font-size: larger;
}
.card__progress__opened .task__card__content__description {
  text-align: justify;
}
.card__progress__opened .task__card__content__startEnd {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 600;
}
.card__progress__opened .task__card__content__deadline {
  text-transform: uppercase;
  color: #D46C74;
}
.card__progress__opened .task__card__content__deadline .daysLeftUntil {
  font-weight: 600;
}
.card__progress__opened .task__card__content__progress {
  width: 80%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card__progress__opened .task__card__content__progress input {
  display: none;
}
.card__progress__opened .task__card__content__progress input + label:before {
  content: "✓";
  border: solid #e8b471 3px;
  border-radius: 0.3rem;
  vertical-align: bottom;
  color: transparent;
}
.card__progress__opened .task__card__content__progress input:checked + label:before {
  background-color: #e8b471;
  color: #FEF9ED;
  transition: 0.2s;
}

.card__done__opened .task__card__opened {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  border-top: double 6px #6C87DD;
  border-bottom: solid 6px #6C87DD;
}
.card__done__opened .task__card__header {
  height: 4rem;
  color: #6C87DD;
  background-color: rgba(108, 134, 221, 0.5254901961);
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  gap: 1rem;
}
.card__done__opened .task__card__header__title {
  color: #2c3138;
  font-size: large;
}
.card__done__opened .task__card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
.card__done__opened .task__card__content__title {
  font-size: larger;
}
.card__done__opened .task__card__content__description {
  text-align: justify;
}
.card__done__opened .task__card__content__startEnd {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 600;
}
.card__done__opened .task__card__content__deadline {
  text-transform: uppercase;
  color: #D46C74;
}
.card__done__opened .task__card__content__deadline .daysLeftUntil {
  font-weight: 600;
}
.card__done__opened .task__card__content__progress {
  width: 80%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card__done__opened .task__card__content__progress input {
  display: none;
}
.card__done__opened .task__card__content__progress input + label:before {
  content: "✓";
  border: solid #6C87DD 3px;
  border-radius: 0.3rem;
  vertical-align: bottom;
  color: transparent;
}
.card__done__opened .task__card__content__progress input:checked + label:before {
  background-color: #6C87DD;
  color: #FEF9ED;
  transition: 0.2s;
}

body {
  background-color: #FEF9ED;
  font-family: "Poppins", sans-serif;
  color: #2c3138;
}

h2 {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
}