@import '/assets/css/reset.css';
@import '/assets/css/reset.css';
body {
  background-color: #FEF9ED;
}
body header {
  background-color: #e9b776;
  padding-left: 15px;
  border-radius: 50px;
}
body header .buttonBack {
  margin-top: 40px;
}
body header h1 {
  margin: 15px 0 15px 0;
  font-size: 30px;
  color: #283344;
}
body header input:nth-child(6) {
  margin-bottom: 40px;
}
body main {
  padding-left: 15px;
}
body footer {
  padding: 20px 15px 0 15px;
}
body footer #createTask {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: rgb(9, 106, 242);
  border-radius: 50px;
  color: white;
}
body #createTask:hover {
  cursor: pointer;
}

.h5 {
  color: grey;
  margin-top: 10px;
  margin-bottom: 2px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.3rem;
  align-items: center;
  max-width: 100vh;
  height: 30vh;
  border-radius: 40px;
  background-color: #e9b776;
  color: #283344;
}
header h1 {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 3px;
  width: 80%;
  text-align: center;
  margin-top: 0.6rem;
}
@media only screen and (max-width: 420px) {
  header h1 {
    font-size: 1.7rem;
  }
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 2rem;
  width: 80%;
}
.profile__picture__border {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 8rem;
  border-radius: 4rem;
  border: 0.4rem solid #D46C74;
  border-top-color: transparent;
  transform: rotate(-45deg);
  position: relative;
}
@media only screen and (max-width: 380px) {
  .profile__picture__border {
    width: 10rem;
  }
}
.profile__picture {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  object-fit: cover;
  transform: rotate(45deg);
}
.profile__identity {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  letter-spacing: 1px;
}
.profile__identity__name {
  font-size: 1.4rem;
  font-weight: 700;
}
.profile__identity__function {
  color: #3e4f69;
  font-size: 1.3rem;
  font-weight: lighter;
}

.nav__tasks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.3rem;
  height: 7rem;
}
.nav__tasks .tasks, .nav__tasks .tasks__filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav__tasks .tasks__addBtn {
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  background-color: #357982;
  border: none;
  cursor: pointer;
}
.nav__tasks .tasks__addBtn:hover {
  background-color: #296c75;
}
.nav__tasks .tasks__addBtn img {
  width: 1.7rem;
  height: 1.7rem;
  align-self: center;
  justify-self: center;
  padding: 0.1rem;
}
.nav__tasks .tasks__filter {
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 1px;
  cursor: pointer;
}
@media only screen and (max-width: 360px) {
  .nav__tasks .tasks__filter {
    font-size: 1.1rem;
  }
}
@media only screen and (min-width: 600px) {
  .nav__tasks .tasks__filter {
    width: 60%;
    align-self: center;
  }
}
.nav__tasks .tasks__filter .filter {
  border-radius: 20px;
  height: 2rem;
  width: fit-content;
  text-align: center;
  margin-top: 0.3rem;
  padding-top: 0.3rem;
}
.nav__tasks .tasks__filter .filter__all:hover {
  font-weight: bold;
}
.nav__tasks .tasks__filter .filter__todo {
  background-color: rgba(212, 108, 117, 0.6392156863);
  width: 5rem;
}
@media only screen and (max-width: 360px) {
  .nav__tasks .tasks__filter .filter__todo {
    width: 4rem;
  }
}
.nav__tasks .tasks__filter .filter__todo:hover {
  color: #FEF9ED;
  background-color: #D46C74;
  font-weight: bolder;
}
.nav__tasks .tasks__filter .filter__progress {
  width: 9rem;
  background-color: rgba(237, 197, 145, 0.6352941176);
}
@media only screen and (max-width: 360px) {
  .nav__tasks .tasks__filter .filter__progress {
    width: 8rem;
  }
}
.nav__tasks .tasks__filter .filter__progress:hover {
  color: #FEF9ED;
  background-color: #edc591;
  font-weight: bolder;
}
.nav__tasks .tasks__filter .filter__done {
  width: 5rem;
  background-color: rgba(108, 134, 221, 0.5529411765);
}
@media only screen and (max-width: 360px) {
  .nav__tasks .tasks__filter .filter__done {
    width: 4rem;
  }
}
.nav__tasks .tasks__filter .filter__done:hover {
  color: #FEF9ED;
  background-color: #6C87DD;
  font-weight: bolder;
}

body {
  background-color: #FEF9ED;
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
}

/*# sourceMappingURL=style.css.map */
