@import '/assets/css/reset.css';
.task__cards {
  font-size: 1rem;
}
.task__cards h3 {
  font-weight: 700;
}

.task__card {
  cursor: pointer;
  width: 85%;
  margin: 1.7rem;
}
.task__card__closed {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
}
.task__card__important {
  height: 3rem;
  justify-self: right;
}
.task__card__presentation {
  line-height: 1.2rem;
}
.task__card__presentation__daysLeft {
  font-size: small;
}

.task__card__icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #D46C74;
  height: 3rem;
  width: 3rem;
  border-radius: 1.5rem;
}
.task__card__icon img {
  height: 1.4rem;
}

.card__progress .task__card__icon {
  background-color: #e8b471;
}

.card__done .task__card__icon {
  background-color: #6C87DD;
}

.task__card__opened {
  display: none;
}

.card__todo__opened .task__card__header {
  margin-top: 1rem;
  height: 4rem;
  color: #D46C74;
  background-color: rgba(212, 108, 117, 0.4823529412);
  border-top: double 6px #D46C74;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: ce;
  padding-left: 1rem;
  gap: 1rem;
}
.card__todo__opened .task__card__header__title {
  color: #2c3138;
  font-size: large;
}
.card__todo__opened .task__card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
.card__todo__opened .task__card__content__description {
  text-align: justify;
}
.card__todo__opened .task__card__content__startEnd {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 600;
}
.card__todo__opened .task__card__content__select {
  border-bottom: #D46C74 solid 2px;
  padding-bottom: 1rem;
}

.card__progress__opened .task__card__header {
  margin-top: 1rem;
  height: 4rem;
  color: #e8b471;
  background-color: rgba(237, 197, 145, 0.5215686275);
  border-top: double 6px #e8b471;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: ce;
  padding-left: 1rem;
  gap: 1rem;
}
.card__progress__opened .task__card__header__title {
  color: #2c3138;
  font-size: large;
}
.card__progress__opened .task__card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
.card__progress__opened .task__card__content__description {
  text-align: justify;
}
.card__progress__opened .task__card__content__startEnd {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 600;
}
.card__progress__opened .task__card__content__select {
  border-bottom: #e8b471 solid 2px;
  padding-bottom: 1rem;
}

.card__done__opened .task__card__header {
  margin-top: 1rem;
  height: 4rem;
  color: #6C87DD;
  background-color: rgba(108, 134, 221, 0.5254901961);
  border-top: double 6px #6C87DD;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: ce;
  padding-left: 1rem;
  gap: 1rem;
}
.card__done__opened .task__card__header__title {
  color: #2c3138;
  font-size: large;
}
.card__done__opened .task__card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
.card__done__opened .task__card__content__description {
  text-align: justify;
}
.card__done__opened .task__card__content__startEnd {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 600;
}
.card__done__opened .task__card__content__select {
  border-bottom: #6C87DD solid 2px;
  padding-bottom: 1rem;
}/*# sourceMappingURL=task_cards.css.map */